<div class="mobile-application d-flex">
    <img src="/public/image 2.jpg" class="main">
    <div class="download">
        <h1>Mobile Application</h1>
        <h2>Download our apps of your mobile phone for service</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
        <ul>
            <li><img src="/public/Background.png" class="icon">Lorem Ipsum is simply dummy</li>
            <li><img src="/public/Background.png" class="icon">Lorem Ipsum is simply dummy text of the printing </li>
            <li><img src="/public/Background.png" class="icon">Lorem Ipsum is simply</li>
        </ul>
        <img src="/public/AppStoreTransparent.svg.png" class="app1 ">
        <img src="/public/AppGooglePlayTransparent.svg.png"class="app2">
    </div>
</div>
