
.mobile-application{
height: 696px;
top: 1524.89px;
padding: 64px 96px 64px 96px;
gap: 10px;
opacity: 0px;
background: #F3E9EB;
max-height: max-content;
.main{
    width: 595px;
    height: 584.6px;
    top: -8.69px;
    gap: 0px;
    opacity: 0px;
    }
   .download{
    width: 560px;
    height: Hug (470.66px)px;
    gap: 0px;
    opacity: 0px; 
        h1{
            max-width: max-content;   
            font-family: Inter;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            color: #871E35;
                     } 
        h2{
            max-width: max-content;   
            font-family: Inter;
            font-size: 40px;
            font-weight: 600;
            line-height: 60px;
            color: #24221E;
        } 
        p{
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: #3C3A37;

        }
        .icon{
            width: Fixed (26px)px;
height: Fixed (26px)px;
padding: 4px 0px 0px 0px;
gap: 0px;
border-radius: 13px 0px 0px 0px;
border: 2px 0px 0px 0px;
opacity: 0px;

        }
        .app1{
width: 140.9px;
height: 46.97px;
margin-left:30px;
        }
        .app2{
            width: 158.15px;
            height: 46.97px;   
        }
    }
 }