<app-header></app-header>
<div class="d-flex justify-content-center">
  <p class="text-center alert">
    We Logged you out because you were inactive for 2 minutes - it's to help
    your account secure
  </p>
</div>
<div class="container d-flex align-items-center justify-content-center">
  <div class="card p-4" style="width: 400px">
    <h3 class="mb-3">Welcome back</h3>
    <p class="mb-4">Login to your account</p>

    <form action="">
      <div class="mb-3">
        <label for="email" class="form-label">Your email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email@gmail.com"
        />
      </div>

      <div class="mb-3 position-relative">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="**********"
        />
        <span class="position-absolute top-50 end-0 translate-middle-y pe-3">
          <i class="bi bi-eye-slash"></i>
        </span>
      </div>

      <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
    </form>
  </div>
</div>
<app-footer></app-footer>
