<app-header></app-header>
<div class="d-flex justify-content-center">
  <div class="alert d-flex justify-content-between">
    <fa-icon [icon]="faexclamationCircle" class="exclamtion-icon"></fa-icon>
    <p class="text-center">
      We Logged you out because you were inactive for 2 minutes - it's to help
      your account secure
    </p>
    <label class="close-icon text-end m-2">&times;</label>
  </div>
</div>
<div class="container d-flex align-items-center justify-content-center">
  <div class="card p-4" style="width: 400px">
    <h3 class="mb-3">Welcome back</h3>

    <form action="">
      <div class="mb-3">
        <label for="email" class="form-label">Your email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email@gmail.com"
        />
      </div>

      <div class="mb-3 position-relative">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="**********"
        />

        <span
          class="position-absolute top-50 end-0 translate-middle-y pe-3 m-3"
        >
          <fa-icon [icon]="faEye" class="eye"></fa-icon>
        </span>
      </div>

      <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
    </form>
  </div>
</div>
<app-footer></app-footer>
