<div class="container d-flex justify-content-center align-items-center">
  <div class="card shadow-sm">
    <div class="card-body">
      <h1 class="card-title text-start mb-4">Create Your Account</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
        tempor incididunt ut labore.
      </p>
      <form>
        <div class="row">
          <div class="mb-3">
            <label for="firstName" class="form-label">Full Name</label>
            <input
              type="text"
              class="form-control border-color"
              id="firstName"
              placeholder="Full name"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control border-color"
            id="email"
            placeholder="Enter your email"
          />
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <div class="input-group">
            <button
              type="button"
              class="btn dropdown-toggle border-color text-start px-3 dropdown-country"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              UK
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">UK</a></li>
              <li><a class="dropdown-item">Another action</a></li>
              <li><a class="dropdown-item">Something else here</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="password" class="form-label mx-2">Day</label>
            <div class="input-group">
              <button
                type="button"
                class="btn dropdown-toggle border-color text-start px-3 dropdown-date"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                DD
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item">UK</a></li>
                <li><a class="dropdown-item">Another action</a></li>
                <li><a class="dropdown-item">Something else here</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="confirmPassword" class="form-label mx-2">Month</label>
            <div class="input-group">
              <button
                type="button"
                class="btn dropdown-toggle border-color text-start px-3 dropdown-date"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Month
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item">UK</a></li>
                <li><a class="dropdown-item">Another action</a></li>
                <li><a class="dropdown-item">Something else here</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="confirmPassword" class="form-label mx-2">Year</label>
            <div class="input-group">
              <button
                type="button"
                class="btn dropdown-toggle border-color text-start px-3 dropdown-date"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                YYYY
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item">UK</a></li>
                <li><a class="dropdown-item">Another action</a></li>
                <li><a class="dropdown-item">Something else here</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Password</label>
          <input
            type="password"
            class="form-control border-color"
            id="password"
            placeholder="************"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Confirm Password</label>
          <input
            type="password"
            class="form-control border-color"
            id="password"
            placeholder="************"
          />
        </div>
        <label for="text" class="password-rules"
          >The password should be at least eight characters long. To make it
          stronger, use upper and lower case letters, numbers, and symbols like
          ! " ? $ % ^ & )</label
        >
        <button type="submit" class="btn w-100 submit-btn my-3">
          Create Account
        </button>
        <div class="d-flex">
          <label for="text" class="login-label"
            >Already have an account?<span class="mx-2">Login</span></label
          >
        </div>
      </form>
    </div>
  </div>
</div>
