<nav class="navbar navbar-expand-lg bg-body-light">
  <div class="container-fluid">
    <nav class="nav">
      <a class="navbar-brand"> Speedo Transfer </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse d-flex justify-content-end nav-tab"
        id="navbarSupportedContent"
      >
        <div class="tab-menu">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active home" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Money Transfer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">My Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Help</a>
            </li>
          </ul>
        </div>
        <form class="d-flex gap-1" role="search">
          <button class="btn login" type="submit">Login</button>
          <button class="btn register" type="submit">Register Now</button>
        </form>
      </div>
    </nav>
  </div>
</nav>
