// $backgroundBlur:20;
.navbar{
filter: blur(20);
width: Fixed (1,440px)px;
height: Hug (91.23px)px;
padding: 10px 0px 10px 0px;
gap: 0px;
opacity: 0px;
box-shadow: 0px 0px 20px 0px #6C76861A;
}
.container-fluid{
width: Fill (1,440px)px;
height: Hug (71.23px)px;
padding: 0px 96px 0px 96px;
gap: 0px;
opacity: 0px;
}
.nav{
width: Fill (1,248px)px;
height: Hug (71.23px)px;
gap: 0px;
opacity: 0px;
}
.navbar-brand{
width: Hug (303px)px;
height: Fixed (71.23px)px;
padding: 0px 16px 0px 0px;
gap: 0px;
opacity: 0px;

}
.nav-tab{
width: Fill (945px)px;
height: Hug (56px)px;
gap: 0px;
opacity: 0px;
}
.tab-menu{
    width: Hug (622.33px)px;
    height: Hug (48px)px;
    padding: 0px 0px 0px 76.38px;
    gap: 0px;
    opacity: 0px;      
}
.list{
    width: Hug (422px)px;
height: Hug (48px)px;
gap: 0px;
opacity: 0px;
}
.nav-item{
    width: Hug (78px)px;
height: Fixed (48px)px;
padding: 0px 16px 0px 16px;
gap: 0px;
opacity: 0px;
}
.login{
    border: 1px solid #24221E
}
.register{
color: #FFFFFF;
border: 1px solid #871E35 ;
background: #871E35;

}
.home{
color: #871E35;
}